.body {
    background-color: #eed2d2;
    height: auto;
    width: auto;
    font-size: 16px;
}

.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #fefcfce7;
}

.navbar {
    background-color: #fefcfce7;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

    .icon-container i {
        margin-bottom: 5px;
    }

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    font-weight: 500;
}

    .sidebar a:hover {
        background-color: white;
        color: blue;
        text-decoration: none;
        border-left: 5px solid blue;
    }

    .sidebar a.active {
        background-color: white;
        color: blue;
        text-decoration: none;
        border-left: 5px solid blue;
    }

    .active{
        background-color: aqua;
        color:blue;
    }


.center-sidebar {
    padding-top: 60%;
}

.table {
    border-radius: 10px;
}

